h1, h2, h3, h4, h5, h6{
  text-align: center;
}

h1{
  color: rgb(11, 99, 30);
}

body{
  margin: 0;
}

img{
  max-width:99.9%;
  max-height: 99.9%;
  margin: 0;
  padding: 0;
}

.nav-flex-container {
  display: flex;
  flex-direction: row;
  justify-content:left;
  flex-wrap: wrap;
}

.nav-flex-container > div{
  margin: .5em;
  padding: .5em;
  font-size: 1.2em;
}

.info-flex-container {
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: nowrap;
  background-color: #111111
}

.info-flex-container > div{
  margin: 0.1em;
  padding: 0.1em;
  font-size: 1.2em;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: rgb(108, 152, 190);
}

a:active {
  text-decoration: underline;
  color: rgb(14, 125, 223);
}

.content {
  padding: 1em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
}

.sticky + .content {
  padding-top: 8em;
}